.landing-home-container {
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo);
    /* overflow: hidden; */
}

.landing-carousel {
    width: 100%;
    height: 100%;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide-1 {
    background-color: var(--color-fondo);
}

.slide-2 {
    background-color: var(--color-fondo);
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 0rem;
    color: white;
    z-index: 2;
    margin-bottom: 100px;
}

.slide-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.slide-content p {
    font-size: 1.2rem;
    max-width: 600px;
}
@media (max-width: 1550px) {
    .slide-content {
        margin-bottom: 160px; 
    }
    .text-content {
    margin-top: 5%;
    margin-bottom: 5%;
}
    
}

/* Estilos para los controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    opacity: 1;
}

.carousel-control-next svg,
.carousel-control-prev svg {
    width: 70px;
    height: 70px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 70px;
    height: 70px;
    background: none;
}

/* Ocultar controles cuando no hay icono */
.carousel-control-prev:not([aria-label*="Previous"]):empty,
.carousel-control-next:not([aria-label*="Next"]):empty {
    display: none;
}

.button-next {
    padding: 0.5rem 1rem;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    color: #000000;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button-next:hover {
    background-color: #f5f5f5;
}

.button-next.primary {
    background-color: #4DB6AC;
    font-size: 36px;
    font-weight: 500;
    color: white;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    z-index: 8;
}

.button-next.primary:hover {
    background-color: #45a399;
}

/* Estilo para el icono dentro del botón */
.button-next.primary svg {
    width: 42px;
    height: 43px;
    color: white;
}
.text-content {
    /* flex: 1; */
    width: 100%;
    text-align: center;
    max-width: none;
    padding-right: 4rem;
    /* padding-left: 4rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
.title-conectando {
    font-size: 6rem;
    color: #000000;
    font-weight: bold;
    margin-bottom: -2rem;
    text-align: center;
}

.title-mentes {
    color: var(--color-texto-primario);
    font-size: 4.275rem;
    word-wrap: break-word;
    font-weight: 700;
    margin-bottom: 0rem;
    text-align: center;
}

.title-mentes.especiales {
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.slide-content-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1650px;
    margin-top: -20px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}
.description {
    color: #0C1535;
    font-size: 2.4rem;
    font-weight: 550;
    word-wrap: break-word;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    z-index: 2;
    margin-bottom: 2rem;
}
.description.special {
    font-size: 3rem;
    margin: 2rem auto;
    padding: 0 4rem;
    line-height: 1.4;
}

.backgroud-svg{
    width: 100%;
    height: 100%;
    transform: rotate(70deg); 
    transform-origin: top left;
}
.images-content {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
    position: relative;
}
.doctora-container{
    overflow: hidden;
}
.doctora-image{
    width: 230%;
    height: 310%;
    margin-top: -23%;
    margin-bottom: -190px;
    z-index: 1;
    position: relative;
    /* transform: translateY(60px); */
    transform: translate(5px, 60px);
    background-size: cover;
}

.doctor-image{
    width: 80%;
    height: 110%;
    z-index: 0;
    left: 0;
    top: 50%;
    transform: translate(-250px,-40%);
    position: absolute;

}
@media (max-width: 1000px) {
    .doctora-image{
        opacity: 0;
    }
}
@-moz-document url-prefix() {
    .doctora-image {
        width: 125% !important;
        height: 125% !important;
        z-index: 0;
        left: 0;
        top: 50%;
        transform: translate(-206px,-18%);
        position: absolute;
    }
    .text-content {
    margin-top: 0%;
    margin-bottom: 8%;
}
.image-background-svg{
    position: absolute;
    left: 0%;
    top: 1%;
    z-index: -1;
    transform: translate(-30%, -10%) !important;
}
}

.background-svg {
    opacity: 0;
}


.stats-banner {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(77, 182, 172, 0.34);
    z-index: 5;
    backdrop-filter: blur(5px);
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stat-number {
    color: #009688;
    font-size: 64px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 1;
    margin-bottom: 5px;
}

.stat-label {
    color: black;
    font-size: 32px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
    line-height: 1.2;
}
.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    margin-top: 3rem;
}

.service-card {
    flex: 1;
    height: auto;
    width: 35rem;
    background: white;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.card-title-landign {
    color: #02635a;
    font-size: 2rem;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}

.card-description {
    color: #0C1535;
    font-size: 2rem; /* 32px */
    font-weight: 500;
    word-wrap: break-word;
    flex: 1;
    display: flex;
    align-items: center;
}

.image-background-svg{
    position: absolute;

    z-index: -1;
    transform: translate(-12%, -14%);
}