/* Estilos básicos para las cajas (opcional, para que se vean) */
.container-home-admin-fase-1 {
    display: grid;
    gap: 1rem; 
    padding: 1rem;
}

.container-home-admin-fase-1 {
    grid-template-columns: 1fr;
}

@media (min-width: 750px) {
    .container-home-admin-fase-1 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1500px) {
    .container-home-admin-fase-1 {
        grid-template-columns: repeat(4, 1fr);
    }
}