.characteristics-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-fondo);
    padding: 40px 20px;
    box-sizing: border-box;
}

.characteristics-container {
    width: 100%;
    max-width: 1645px;
    text-align: center;
    background-color: rgba(77, 182, 172, 0.34);
    padding: 2rem;
    border-radius: 20px;
}

.characteristics-header h1 {
    color: var(--color-texto-primario);
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 6rem;
    /* 96px / 16px */
    line-height: 100%;
    letter-spacing: 0;
}

.characteristics-header p {
    color: var(--color-texto-negro);
    font-size: 2rem;
    /* 32px / 16px */
    max-width: 1608px;
    margin: 0 auto 3rem auto;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
}

.characteristics-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
}

.characteristic-card {
    background-color: var(--color-texto-blanco);
    border-radius: 15px;
    padding: 2rem;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-lineas);
    max-width: 732px;
    justify-self: center;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.card-icon {
    background-color: var(--color-elementos-extras);
    color: var(--color-texto-blanco);
    font-size: 1.5rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
}

.card-header h3 {
    color: var(--color-texto-negro);
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 100%;
    letter-spacing: 0;
    margin: 0;
}

.characteristic-card p {
    color: var(--color-texto-negro);
    font-size: 2rem;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 0;
}

@media (max-width: 992px) {
    .characteristics-grid {
        grid-template-columns: 1fr;
    }

    .characteristics-header h1 {
        font-size: 4.5rem;
    }

    .characteristics-header p {
        font-size: 1.5rem;
    }

    .card-header h3 {
        font-size: 1.75rem;
    }

    .characteristic-card p {
        font-size: 1.25rem;
    }
}

@media (max-width: 576px) {
    .characteristics-body {
        padding: 20px 15px;
    }

    .characteristics-header h1 {
        font-size: 2.5rem;
        word-break: break-word;
    }

    .characteristics-header p {
        font-size: 1.125rem;
    }

    .characteristic-card {
        padding: 1.5rem;
    }

    .card-header h3 {
        font-size: 1.5rem;
    }

    .characteristic-card p {
        font-size: 1rem;
    }
}