.conteiner-input {
    margin-bottom: 1rem;
}

.input-control {
    border-radius: "1.5rem";
}

.custom-input-wrapper {
    display: flex;
    align-items: stretch; 
    width: 100%;
    border: 1px solid; 
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: #fff;
    transition: box-shadow 0.15s ease-in-out;
    transform: translateZ(0);
}

.custom-input-wrapper:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(77, 182, 172, 0.25); 
}

.custom-icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef; 
    padding: 0 1rem;
    color: #495057;
    border-radius: 1.5rem; 

}


.input-control-borderless {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    padding-left: 10px;
}

.input-control-borderless:disabled {
    cursor: not-allowed;
    background-color: #f8f9fa;
}

.center {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
}