.footer {
    background-color: var(--color-botones-primario);
    color: var(--color-texto-blanco);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    display: flex;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo {
    flex: 1;
    max-width: 300px;
}

.footer-logo img {
    width: 50px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-social {
    flex: 1;
    max-width: 200px;
}

.footer-social h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 20px;
    /* Espaciado entre íconos */
    margin-top: 10px;
    /* Ajusta la posición de los íconos */
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons svg {
    width: 48px;
    /* Tamaño de los íconos */
    height: 48px;
}

.footer-contact {
    flex: 1;
    max-width: 200px;
}

.footer-contact h4 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

.footer-contact p {
    font-size: 14px;
    text-align: left;
    margin: 5px 0;
}

.footer-links {
    flex: 1;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links button {
    background: none;
    border: none;
    color: var(--color-texto-negro);
    /* Cambia el color del texto a negro */
    font-size: 16px;
    cursor: pointer;
}

.footer-links button:hover {
    text-decoration: underline;
}